{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- About Start -->
<div class="container-fluid py-5" id="about">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
            </div>
            <div class="col-lg-7">
                <h6 class="text-uppercase text- primary mb-3" style="letter-spacing: 3px;">About Us</h6>
                <h1 class="display-4 mb-3"><span class="text-primary">New Tech Innovators</span> CHE Students of GPTC
                    Cherthala </h1>
                <p> We are Computer Hardware Computer Hardware Engineering Studenting students of GOVT. Polytechnic
                    College,Cherthala,Alappuzha</p>
                <a class="btn btn-primary font-weight-bold py-3 px-5 mt-2 rounded" style="color: white;" type="button"
                    data-toggle="modal" data-target="#exampleModalLong">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-fluid py-5" id="team">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Team</h6>
            <h1 class="font-secondary display-4">Meet The Team</h1>
        </div>
        <div class="row justify-content-lg-start m-0 mb-4 pb-2 mb-sm-0 pb-sm-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/karan_k_binu.jpg' %}"
                            style="object-fit: cover;">
                    </div>
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">Karan k binu</h5>
                            <p class="text-muted font-italic mb-2">Team Lead</p>
                            <p>This is my world.I'm the Teamlead of solar tracking system Team</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-github"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-lg-end m-0 mb-4 pb-2 mb-sm-0 pb-sm-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/akshar.jpg' %}"
                            style="object-fit: cover;">
                    </div>
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">Akshar gitanand</h5>
                            <p class="text-muted font-italic mb-2">Engineer</p>
                            <p>Team Member</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-start m-0 mb-4 pb-2 mb-sm-0 pb-sm-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/fathima.jpg' %}"
                            style="object-fit: cover;">
                    </div>
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">Fathima shajudeen</h5>
                            <p class="text-muted font-italic mb-2">Engineer</p>
                            <p>Team Member</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-lg-end m-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/Sanju.jpg' %}"
                            style="object-fit: cover;">
                    </div>
                    <div class="col-sm-6 p-0 mb-4 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">Sanju gireesh</h5>
                            <p class="text-muted font-italic mb-2">Engineer</p>
                            <p>Team Member</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-start m-0 mb-4 pb-2 mb-sm-0 pb-sm-0">
            <div class="col-lg-6 p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0" style="min-height: 300px;">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/bidhul.jpg' %}"
                            style="object-fit: cover;">
                    </div>
                    <div class="col-sm-6 p-0 text-center">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h5 class="mb-2">Bidhul binoy</h5>
                            <p class="text-muted font-italic mb-2">Engineer</p>
                            <p>Team Member</p>
                            <div class="position-relative mb-2">
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-1" href="#"><i
                                        class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Team End -->


<!-- Service Start -->
<div class="container-fluid py-5" id="service">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Services</h6>
            <h1 class="font-secondary display-4">What We Cover</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-3 text-center">
                <div class="product-item mb-2">
                    <div class="product-img">
                        <img class="img-fluid" src="{% static 'img/product-1.jpg' %}" alt="">
                        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                            <i class="fa fa-2x fa-plus text-white"></i>
                        </a>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h3 class="m-0">Solar Tracking System</h3>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Service End -->


<!-- Gallery Start -->
<div class="container-fluid bg-gallery" id="project" style="padding: 120px 0; margin: 90px 0;">
    <div class="section-title position-relative text-center" style="margin-bottom: 120px;">
        <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Project</h6>
        <h1 class="font-secondary display-4 text-white">Project Photo Gallery</h1>
    </div>
    <div class="owl-carousel gallery-carousel">
        <div class="gallery-item">
            <img class="img-fluid w-100" src="{% static 'img/gallery-1.jpg' %}" alt="">
            <a class="btn btn-primary" href="{% static 'img/gallery-1.jpg' %}" data-lightbox="gallery">
                <i class="fa fa-2x fa-plus text-white"></i>
            </a>
        </div>
        <div class="gallery-item">
            <img class="img-fluid w-100" src="{% static 'img/gallery-2.jpg' %}" alt="">
            <a class="btn btn-primary" href="{% static 'img/gallery-2.jpg' %}" data-lightbox="gallery">
                <i class="fa fa-2x fa-plus text-white"></i>
            </a>
        </div>
        <div class="gallery-item">
            <img class="img-fluid w-100" src="{% static 'img/gallery-3.jpg' %}" alt="">
            <a class="btn btn-primary" href="{% static 'img/gallery-3.jpg' %}" data-lightbox="gallery">
                <i class="fa fa-2x fa-plus text-white"></i>
            </a>
        </div>
        <div class="gallery-item">
            <img class="img-fluid w-100" src="{% static 'img/gallery-4.jpg' %}" alt="">
            <a class="btn btn-primary" href="{% static 'img/gallery-4.jpg' %}" data-lightbox="gallery">
                <i class="fa fa-2x fa-plus text-white"></i>
            </a>
        </div>
        <div class="gallery-item">
            <img class="img-fluid w-100" src="{% static 'img/gallery-5.jpg' %}" alt="">
            <a class="btn btn-primary" href="{% static 'img/gallery-5.jpg' %}" data-lightbox="gallery">
                <i class="fa fa-2x fa-plus text-white"></i>
            </a>
        </div>
        <div class="gallery-item">
            <img class="img-fluid w-100" src="{% static 'img/gallery-6.jpg' %}" alt="">
            <a class="btn btn-primary" href="{% static 'img/gallery-6.jpg' %}" data-lightbox="gallery">
                <i class="fa fa-2x fa-plus text-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- Gallery End -->




<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Solar Tracking System System</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid mb-4" src="{% static 'img/carousel-1.jpg' %}" alt="">
                <p>Experience the efficiency of our solar tracking system, dynamically aligning panels with the sun's
                    position for optimal energy capture. This advanced sun monitoring technology ensures continuous
                    alignment with the sun's path across the sky, maximizing sunlight exposure and energy output.</p>

                <p>Solar panels and concentrated solar power systems convert sunlight into electricity, reaching peak
                    efficiency when the sun is directly overhead. Our solar trackers extend this peak efficiency by
                    dynamically adjusting the system's orientation, increasing overall efficiency by up to 40% and
                    ensuring prolonged periods of optimal performance throughout the day.</p>

                <p>Even on cloudy days, our solar tracking system enhances power output. By adapting the angle of solar
                    panels or other energy systems, it maximizes sunlight capture, overcoming limitations posed by cloud
                    cover and optimizing energy production even in suboptimal conditions.</p>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->

{% endblock %}