<!DOCTYPE html>
<html lang="en">
{%load static %}

<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Solar Tracker" name="keywords">
    <meta content="Solar Tracker" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/solar-favicon.webp' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Dashboard</title>
    <style>
        .gauge {
            position: relative;
            border-radius: 50%/100% 100% 0 0;
            background-color: var(--color, #a22);
            overflow: hidden;
            margin: 0 auto;
            /* Add this line to center the gauge horizontally */
        }

        .card {
            cursor: pointer;
            transition: box-shadow 0.3s ease;
            /* Smooth transition effect for box-shadow */
        }

        .card:hover {
            box-shadow: 2px 4px 10px rgba(71, 58, 102, 0.242);
            /* Box-shadow on hover */
        }


        .gauge:before {
            content: "";
            display: block;
            padding-top: 50%;
            /* ratio of 2:1*/
        }

        .gauge .chart {
            overflow: hidden;
        }

        .gauge .mask {
            position: absolute;
            left: 20%;
            right: 20%;
            bottom: 0;
            top: 40%;
            background-color: #fff;
            border-radius: 50%/100% 100% 0 0;
        }

        .gauge .percentage {
            position: absolute;
            top: -1px;
            left: -1px;
            bottom: 0;
            right: -1px;
            background-color: var(--background, #aaa);
            transform: rotate(var(--rotation));
            transform-origin: bottom center;
            transition-duration: 600;
        }

        .gauge:hover {
            --rotation: 100deg;
        }

        .gauge .value {
            position: absolute;
            bottom: 0%;
            left: 0;
            width: 100%;
            text-align: center;
        }

        .gauge .min {
            position: absolute;
            bottom: 0;
            left: 5%;
        }

        .gauge .max {
            position: absolute;
            bottom: 0;
            right: 5%;
        }

        .filter-form {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container mt-4">


        <h2 class="text-center mt-6">Sensor Data Dashboard For Android</h2>
        <div class="mt-4 text-center">
            <a href="http://{{localIp}}/" class="btn btn-danger rounded-pill ">Go To Control Panel</a>
        </div>
        <div class="mt-4 ml-auto">
            <a href="/android-dashboard/" class="btn btn-info rounded-pill ">Refresh Data</a>
        </div>
        {% if latest_sensor_data.username == request.session.user_email %}

        <!-- Latest Data Section -->
        <div class="latest-data bg-light p-3">
            <h3 class="text-center">Look out Latest Data</h3>
            {% if latest_sensor_data %}

            <div class="row justify-content-center">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Current Panel angle</h5>
                            <div class="gauge-container">
                                <div class="gauge"
                                    style="width: 200px; --rotation: {{ servo_angle }}deg; --color:#00e5ff; --background:#e9ecef;">
                                    <div class="percentage"></div>
                                    <div class="mask"></div>
                                    <span class="value">{{ latest_sensor_data.servoAngle }}&deg;/180&deg;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Energy Production meter</h5>
                            <div class="gauge-container">
                                <div class="gauge"
                                    style="width: 200px; --rotation: {{ voltage_rotation }}deg; --color:#5c6ab8; --background:#e9ecef;">
                                    <div class="percentage"></div>
                                    <div class="mask"></div>
                                    <span class="value">{{ latest_sensor_data.voltage }}v/4.2v</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Light Intencity on Left side</h5>
                            <div class="gauge-container">
                                <div class="gauge"
                                    style="width: 200px; --rotation: {{ ldr1_rotation }}deg; --color:#b85ca6; --background:#e9ecef;">
                                    <div class="percentage"></div>
                                    <div class="mask"></div>
                                    <span class="value">{{ latest_sensor_data.ldrValue1 }}/4095</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Light Intencity on Right side</h5>
                            <div class="gauge-container">
                                <div class="gauge"
                                    style="width: 200px; --rotation: {{ ldr2_rotation }}deg; --color:#f2e605; --background:#e9ecef;">
                                    <div class="percentage"></div>
                                    <div class="mask"></div>
                                    <span class="value">{{ latest_sensor_data.ldrValue2 }}/4095</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Timestamp</h5>
                            <p class="card-text">{{ latest_sensor_data.timestamp }}</p>
                        </div>
                    </div>
                </div>

            </div>
            {% else %}
            <p class="text-center">No data available.</p>
            {% endif %}
        </div>


        <!-- Table Section -->
        <h1 class="text-center">Log Table</h1>
        <div class="card p-4">
            <p id="alerttext" class=" text-center mt-3"></p>
            <form method="GET" id="filterForm" class="filter-form mt-3">
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                    <button type="button" class="btn btn-danger ml-2" id="clearFormBtn">Clear Form</button>
                </div>

            </form>
        </div>
        <button type="button" id="filterBtn" class="btn btn-primary mt-3 ml-auto"
            style="background-color: blue;">Filters?</button>

        <table class="table mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Timestamp</th>
                    <th>Voltage</th>
                    <th>LDR Value 1</th>
                    <th>LDR Value 2</th>
                    <th>Servo Angle</th>
                </tr>
            </thead>
            <tbody>
                {% for data in all_sensor_data %}
                <tr>
                    <td>{{ data.timestamp }}</td>
                    <td>{{ data.voltage }}</td>
                    <td>{{ data.ldrValue1 }}</td>
                    <td>{{ data.ldrValue2 }}</td>
                    <td>{{ data.servoAngle }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{%else%}
<div class="text-center">
    <h2 style="color:red;">NO Data Found For {{request.session.user_email}} Try Contacting support Team</h2>
    <a href="{% url 'contact' %}" class="btn btn-primary rounded-pill">Contact & Support</a>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'mail/jqBootstrapValidation.min.js '%}"></script>
<script src="{% static 'mail/contact.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
{%endif%}
<script>
    $(document).ready(function () {
        function updateLatestData() {
            $.ajax({
                url: '/android-dashboard/',
                type: 'GET',
                success: function (data) {
                    var latestData = $(data).find('.latest-data').html();
                    $(".latest-data").html(latestData);
                },
                error: function (error) {
                    console.error("Error updating latest data:", error);
                }
            });
        }

        setInterval(updateLatestData, 5000);
        updateLatestData();
    });
    document.addEventListener('DOMContentLoaded', function () {
        var filterForm = document.getElementById('filterForm');
        var filterBtn = document.getElementById('filterBtn');
        var alerttext = document.getElementById('alerttext');
        var clearFormBtn = document.getElementById('clearFormBtn');
        filterBtn.addEventListener('click', function () {
            filterForm.style.display = (filterForm.style.display === 'none' || filterForm.style.display === '') ? 'block' : 'none';
            if (filterForm.style.display === 'block') {
                filterBtn.innerHTML = 'Close Filters';
                filterBtn.style.backgroundColor = 'red';
            }
            else {
                filterBtn.innerHTML = 'Filters?';
                filterBtn.style.backgroundColor = 'blue';
            }
        });


        // Check if any fields are not empty
        var formFields = filterForm.elements;
        var isAnyFieldNotEmpty = false;

        for (var i = 0; i < formFields.length; i++) {
            if (formFields[i].type !== 'submit' && formFields[i].value.trim() !== '') {
                isAnyFieldNotEmpty = true;
                break;
            }
        }

        if (isAnyFieldNotEmpty) {
            alerttext.innerHTML = 'Filter is applied!';
        } else {
            alerttext.innerHTML = 'Apply filter for specific data';
        }
        clearFormBtn.addEventListener('click', function () {
            // Reset the form to its default values
            var formFields = filterForm.elements;

            for (var i = 0; i < formFields.length; i++) {
                if (formFields[i].type !== 'submit') {
                    formFields[i].value = '';
                }
            }
            filterForm.submit();

        });
    });
</script>

</html>