{% extends 'base.html' %}
{% load static %}
{%block title %}

Login and stay connected

{%endblock %}
{% block content %}
<style>
    input[type='text'],
    input[type='password'],
    input[type='tel'],
    input[type='email'] {
        border-radius: 50px;
        text-align: center;
        box-shadow: 3px 2px 5px black inset;
    }

    .txtarea {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        text-align: center;
        box-shadow: 3px 2px 5px black inset;
    }

    input[type='text']:focus,
    input[type='password']:focus,
    input[type='tel']:focus,
    input[type='email']:focus,
    .txtarea:focus {
        box-shadow: 3px 2px 5px black inset;
        outline: 2px solid #0c9FFF;
    }

    button {
        box-shadow: 3px 2px 5px blue;
    }

    .fa {
        color: #0c9FFF;
    }

    .input-group-text {
        border: 1px solid #0c9FFF;
    }

    .forgot-password {
        cursor: default;
    }

    .forgot-password:hover {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

    .forgot-modal-close-btn:hover {
        background-color: red;
        border: 1px sold black;
        color: white;
        border-radius: 3px;
    }
</style>
</style>

<div class="container-fluid py-5" id="signup" style="margin-top:5%;">
    <div class="container py-5 signup-container">
        <div class="section-title position-relative text-center ">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Login</h6>
            <h1 class="font-secondary display-4">Welcome Back</h1>
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-8">
                <div class="contact-form">
                    {% block error_messages %}
                    {{ block.super }}
                    {% endblock %}
                    <div id="success"></div>
                    <form name="login" id="login-Form" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="control-group">
                            <input type="email" class="form-control bg-secondary border-0 py-4 px-3 text-center"
                                id="email" placeholder="Your Email" required="required" name="username"
                                data-validation-required-message="Please enter your Email" />
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                            <div class="input-group">
                                <input type="password"
                                    class="form-control text-center bg-secondary border-0 py-4 px-3 mt-4" id="pass"
                                    placeholder="Your Password" required="required" name="password"
                                    data-validation-required-message="Please enter your Password" />
                                <div class="input-group-append ">
                                    <span class="input-group-text toggle-password mt-4 bg-transparent" toggle="#pass"
                                        style="border-radius: 0 50px 50px 0;z-index: 999;">
                                        <i class="far fa-eye"></i>
                                    </span>
                                </div>

                            </div>
                            <p class="help-block text-danger"></p>
                            <p class="help-block text-primary ml-2 forgot-password" onclick="openModal()">
                                Forgot Password?</p>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary font-weight-bold py-3 px-5 w-100 rounded-pill mt-2"
                                type="submit" id="signUpButton">Sign In</button>
                            <p class="help-block text-primary mt-2">Do Not Have an Account? <a href="{% url 'signup' %}"
                                    class="text-danger help-block">Sign Up</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="emailModal" class="modal align-items-center justify-content-center">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close ml-auto py-2 px-3 forgot-modal-close-btn" aria-label="Close"
                onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>

            <form id="emailForm" method="post" action="{% url 'send_otp' %}">
                {% csrf_token %}
                <div class="card border-0">
                    <div class="card-body text-center">
                        <label for="email" class="sr-only">Enter your email:</label>
                        <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Your Email"
                            required>
                        <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Contact End -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglePassword = document.querySelector('.toggle-password');
        const passwordInput = document.getElementById('pass');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Toggle eye icon
            if (type === 'password') {
                togglePassword.innerHTML = '<i class="far fa-eye"></i>';
            } else {
                togglePassword.innerHTML = '<i class="far fa-eye-slash"></i>';
            }
        });
    });
    function openModal() {
        document.getElementById('emailModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('emailModal').style.display = 'none';
    }
</script>

{% endblock %}